<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Problem1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Problem2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Problem3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Problem4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Problem5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA486D321EFA0D8D00D8E8AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA486D3D1EFA1AD200D8E8AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5B99351EFA07950089B79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5B99431EFA07AA0089B79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5DFD1F1F06771C00BD046D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFDA1F21F056F85000CC256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
